@import 'src/scss/mixins';

.project {
  display: block;
  max-width: 250px;
  text-align: center;
  text-decoration: none;

  @include media('<=xs') {
    max-width: 300px;
    padding: 0 30px;
    margin: 0 auto;
  }

  &:hover {
    .project__title {
      text-decoration: none;
    }
  }

  &__title {
    font-size: 24px;
    color: $black;
    font-family: FuturaPT, sans-serif;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 5px;
  }

  &__logo {
    width: 100%;
    height: 170px;
    background: transparent 50% 50% no-repeat;
    background-size: contain;

    $logos: "rpmtools";
    @each $logo in $logos {
      &_#{$logo} {
        background-image: url(./images/#{$logo}.png);
      }
    }
  }

  &__description {
    display: block;
    font-size: 18px;
    color: $black;
    text-align: justify;
    font-family: FuturaPT, sans-serif;

  }
}