@font-face {
  font-family: 'FuturaPT';
  src: url('../fonts/futura/subset-FuturaPT-ExtraBold.eot');
  src: url('../fonts/futura/subset-FuturaPT-ExtraBold.eot');
  src: url('../fonts/futura/subset-FuturaPT-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/futura/subset-FuturaPT-ExtraBold.woff2') format('woff2'),
  url('../fonts/futura/subset-FuturaPT-ExtraBold.woff') format('woff'),
  url('../fonts/futura/subset-FuturaPT-ExtraBold.ttf') format('truetype'),
  url('../fonts/futura/subset-FuturaPT-ExtraBold.svg#FuturaPT-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT';
  src: url('../fonts/futura/subset-FuturaPT-Demi.eot');
  src: url('../fonts/futura/subset-FuturaPT-Demi.eot?#iefix') format('embedded-opentype'),
  url('../fonts/futura/subset-FuturaPT-Demi.woff2') format('woff2'),
  url('../fonts/futura/subset-FuturaPT-Demi.woff') format('woff'),
  url('../fonts/futura/subset-FuturaPT-Demi.ttf') format('truetype'),
  url('../fonts/futura/subset-FuturaPT-Demi.svg#FuturaPT-Demi') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT';
  src: url('../fonts/futura/subset-FuturaPT-Light.eot');
  src: url('../fonts/futura/subset-FuturaPT-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/futura/subset-FuturaPT-Light.woff2') format('woff2'),
  url('../fonts/futura/subset-FuturaPT-Light.woff') format('woff'),
  url('../fonts/futura/subset-FuturaPT-Light.ttf') format('truetype'),
  url('../fonts/futura/subset-FuturaPT-Light.svg#FuturaPT-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT';
  src: url('../fonts/futura/subset-FuturaPT-Book.eot');
  src: url('../fonts/futura/subset-FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
  url('../fonts/futura/subset-FuturaPT-Book.woff2') format('woff2'),
  url('../fonts/futura/subset-FuturaPT-Book.woff') format('woff'),
  url('../fonts/futura/subset-FuturaPT-Book.ttf') format('truetype'),
  url('../fonts/futura/subset-FuturaPT-Book.svg#FuturaPT-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT';
  src: url('../fonts/futura/subset-FuturaPT-Bold.eot');
  src: url('../fonts/futura/subset-FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/futura/subset-FuturaPT-Bold.woff2') format('woff2'),
  url('../fonts/futura/subset-FuturaPT-Bold.woff') format('woff'),
  url('../fonts/futura/subset-FuturaPT-Bold.ttf') format('truetype'),
  url('../fonts/futura/subset-FuturaPT-Bold.svg#FuturaPT-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT';
  src: url('../fonts/futura/subset-FuturaPT-Heavy.eot');
  src: url('../fonts/futura/subset-FuturaPT-Heavy.eot?#iefix') format('embedded-opentype'),
  url('../fonts/futura/subset-FuturaPT-Heavy.woff2') format('woff2'),
  url('../fonts/futura/subset-FuturaPT-Heavy.woff') format('woff'),
  url('../fonts/futura/subset-FuturaPT-Heavy.ttf') format('truetype'),
  url('../fonts/futura/subset-FuturaPT-Heavy.svg#FuturaPT-Heavy') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT';
  src: url('../fonts/futura/subset-FuturaPT-Medium.eot');
  src: url('../fonts/futura/subset-FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/futura/subset-FuturaPT-Medium.woff2') format('woff2'),
  url('../fonts/futura/subset-FuturaPT-Medium.woff') format('woff'),
  url('../fonts/futura/subset-FuturaPT-Medium.ttf') format('truetype'),
  url('../fonts/futura/subset-FuturaPT-Medium.svg#FuturaPT-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

/* This stylesheet generated by Transfonter (http://transfonter.org) on January 10, 2017 9:16 AM */

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/helvetica/subset-HelveticaNeueCyr-Black.eot');
  src: url('../fonts/helvetica/subset-HelveticaNeueCyr-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvetica/subset-HelveticaNeueCyr-Black.woff2') format('woff2'),
  url('../fonts/helvetica/subset-HelveticaNeueCyr-Black.woff') format('woff'),
  url('../fonts/helvetica/subset-HelveticaNeueCyr-Black.ttf') format('truetype'),
  url('../fonts/helvetica/subset-HelveticaNeueCyr-Black.svg#HelveticaNeueCyr-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/helvetica/subset-HelveticaNeueCyr-Italic.eot');
  src: url('../fonts/helvetica/subset-HelveticaNeueCyr-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvetica/subset-HelveticaNeueCyr-Italic.woff2') format('woff2'),
  url('../fonts/helvetica/subset-HelveticaNeueCyr-Italic.woff') format('woff'),
  url('../fonts/helvetica/subset-HelveticaNeueCyr-Italic.ttf') format('truetype'),
  url('../fonts/helvetica/subset-HelveticaNeueCyr-Italic.svg#HelveticaNeueCyr-Italic') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/helvetica/subset-HelveticaNeueCyr-UltraLight.eot');
  src: url('../fonts/helvetica/subset-HelveticaNeueCyr-UltraLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvetica/subset-HelveticaNeueCyr-UltraLight.woff2') format('woff2'),
  url('../fonts/helvetica/subset-HelveticaNeueCyr-UltraLight.woff') format('woff'),
  url('../fonts/helvetica/subset-HelveticaNeueCyr-UltraLight.ttf') format('truetype'),
  url('../fonts/helvetica/subset-HelveticaNeueCyr-UltraLight.svg#HelveticaNeueCyr-UltraLight') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/helvetica/subset-HelveticaNeueCyr-Light.eot');
  src: url('../fonts/helvetica/subset-HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvetica/subset-HelveticaNeueCyr-Light.woff2') format('woff2'),
  url('../fonts/helvetica/subset-HelveticaNeueCyr-Light.woff') format('woff'),
  url('../fonts/helvetica/subset-HelveticaNeueCyr-Light.ttf') format('truetype'),
  url('../fonts/helvetica/subset-HelveticaNeueCyr-Light.svg#HelveticaNeueCyr-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/helvetica/subset-HelveticaNeueCyr-LightItalic.eot');
  src: url('../fonts/helvetica/subset-HelveticaNeueCyr-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvetica/subset-HelveticaNeueCyr-LightItalic.woff2') format('woff2'),
  url('../fonts/helvetica/subset-HelveticaNeueCyr-LightItalic.woff') format('woff'),
  url('../fonts/helvetica/subset-HelveticaNeueCyr-LightItalic.ttf') format('truetype'),
  url('../fonts/helvetica/subset-HelveticaNeueCyr-LightItalic.svg#HelveticaNeueCyr-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/helvetica/subset-HelveticaNeueCyr-Bold.eot');
  src: url('../fonts/helvetica/subset-HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvetica/subset-HelveticaNeueCyr-Bold.woff2') format('woff2'),
  url('../fonts/helvetica/subset-HelveticaNeueCyr-Bold.woff') format('woff'),
  url('../fonts/helvetica/subset-HelveticaNeueCyr-Bold.ttf') format('truetype'),
  url('../fonts/helvetica/subset-HelveticaNeueCyr-Bold.svg#HelveticaNeueCyr-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/helvetica/subset-HelveticaNeueCyr-Thin.eot');
  src: url('../fonts/helvetica/subset-HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvetica/subset-HelveticaNeueCyr-Thin.woff2') format('woff2'),
  url('../fonts/helvetica/subset-HelveticaNeueCyr-Thin.woff') format('woff'),
  url('../fonts/helvetica/subset-HelveticaNeueCyr-Thin.ttf') format('truetype'),
  url('../fonts/helvetica/subset-HelveticaNeueCyr-Thin.svg#HelveticaNeueCyr-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/helvetica/subset-HelveticaNeueCyr-BoldItalic.eot');
  src: url('../fonts/helvetica/subset-HelveticaNeueCyr-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvetica/subset-HelveticaNeueCyr-BoldItalic.woff2') format('woff2'),
  url('../fonts/helvetica/subset-HelveticaNeueCyr-BoldItalic.woff') format('woff'),
  url('../fonts/helvetica/subset-HelveticaNeueCyr-BoldItalic.ttf') format('truetype'),
  url('../fonts/helvetica/subset-HelveticaNeueCyr-BoldItalic.svg#HelveticaNeueCyr-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/helvetica/subset-HelveticaNeueCyr-UltraLightItalic.eot');
  src: url('../fonts/helvetica/subset-HelveticaNeueCyr-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvetica/subset-HelveticaNeueCyr-UltraLightItalic.woff2') format('woff2'),
  url('../fonts/helvetica/subset-HelveticaNeueCyr-UltraLightItalic.woff') format('woff'),
  url('../fonts/helvetica/subset-HelveticaNeueCyr-UltraLightItalic.ttf') format('truetype'),
  url('../fonts/helvetica/subset-HelveticaNeueCyr-UltraLightItalic.svg#HelveticaNeueCyr-UltraLightItalic') format('svg');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/helvetica/subset-HelveticaNeueCyr-ThinItalic.eot');
  src: url('../fonts/helvetica/subset-HelveticaNeueCyr-ThinItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvetica/subset-HelveticaNeueCyr-ThinItalic.woff2') format('woff2'),
  url('../fonts/helvetica/subset-HelveticaNeueCyr-ThinItalic.woff') format('woff'),
  url('../fonts/helvetica/subset-HelveticaNeueCyr-ThinItalic.ttf') format('truetype'),
  url('../fonts/helvetica/subset-HelveticaNeueCyr-ThinItalic.svg#HelveticaNeueCyr-ThinItalic') format('svg');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/helvetica/subset-HelveticaNeueCyr-Roman.eot');
  src: url('../fonts/helvetica/subset-HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvetica/subset-HelveticaNeueCyr-Roman.woff2') format('woff2'),
  url('../fonts/helvetica/subset-HelveticaNeueCyr-Roman.woff') format('woff'),
  url('../fonts/helvetica/subset-HelveticaNeueCyr-Roman.ttf') format('truetype'),
  url('../fonts/helvetica/subset-HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/helvetica/subset-HelveticaNeueCyr-BlackItalic.eot');
  src: url('../fonts/helvetica/subset-HelveticaNeueCyr-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvetica/subset-HelveticaNeueCyr-BlackItalic.woff2') format('woff2'),
  url('../fonts/helvetica/subset-HelveticaNeueCyr-BlackItalic.woff') format('woff'),
  url('../fonts/helvetica/subset-HelveticaNeueCyr-BlackItalic.ttf') format('truetype'),
  url('../fonts/helvetica/subset-HelveticaNeueCyr-BlackItalic.svg#HelveticaNeueCyr-BlackItalic') format('svg');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/helvetica/subset-HelveticaNeueCyr-Medium.eot');
  src: url('../fonts/helvetica/subset-HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvetica/subset-HelveticaNeueCyr-Medium.woff2') format('woff2'),
  url('../fonts/helvetica/subset-HelveticaNeueCyr-Medium.woff') format('woff'),
  url('../fonts/helvetica/subset-HelveticaNeueCyr-Medium.ttf') format('truetype'),
  url('../fonts/helvetica/subset-HelveticaNeueCyr-Medium.svg#HelveticaNeueCyr-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}